@import 'base';

* {
    margin: 0;
    padding: 0;
}

.button:nth-child(even){
    margin-right: 0;
}

#content{

    font-size: 1.1rem;
    min-height: 90vh;


    #profile{

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr 1fr;

        @media screen and (max-width: 1200px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        img{
            $size: 15rem;
            border-radius: 50%;
            width: $size;
            height: $size;

            place-self: center start;
            @media screen and (max-width: 1200px) {
                place-self: initial;
            }
            margin-top: 2rem;
            margin-bottom: 2rem;

            -webkit-box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.47);
            -moz-box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.47);
            box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.47);
        }

        #text {
            place-self: center start;
            p {
                margin-bottom: 1rem;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }

    }

    #contact {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 75%;

        @media screen and (max-width: 1200px) {

            margin-top: 2rem;
            width: 100%;

            .button {
                width: 100%;
                box-sizing: border-box;
            }
        }

        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
        }

    }
    
    
    #morelinks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        width: 75%;

        margin-top: 2rem;

        @media screen and (max-width: 1200px) {

            margin-top: 2rem;
            width: 100%;

            .button {
                width: 100%;
                box-sizing: border-box;
            }
        }

        @media screen and (max-width: 800px) {
            display: flex;
            flex-direction: column;
        }
        
    }



}