@import 'base';

$transitiondout: 1s;
$transitiondin: 0.15s;

* {
    margin: 0;
    padding: 0;
}

.button {

    $horizontal: 2rem;
    $vertical: 1.5rem;
    $gap: 1.5rem;

    font-family: $titlesfont;
    font-weight: 700;
    
    display: inline-block;
    color: black;

    border: 3px solid black;
    border-radius: 1rem;

    padding-top: $vertical;
    padding-bottom: $vertical;
    padding-left: $horizontal;
    padding-right: $horizontal;

    margin-right: $gap;
    margin-bottom: $gap;

    text-align: center;

    transition: background $transitiondout, color $transitiondout, border $transitiondout;

}

.button:nth-child(even){
    margin-right: 0;
}

.button:hover {
    background: rgb(206, 89, 89);
    color: white;
    // border: white;

    transition: background $transitiondin, color $transitiondin, border $transitiondin, font-size $transitiondin;
}

#content{

    box-sizing: border-box;
    padding-left: $horizontal_padding_desktop;
    padding-right: $horizontal_padding_desktop;
    padding-top: $vertical_padding_desktop;
    padding-bottom: $vertical_padding_desktop;

    font-size: 1.1rem;
    min-height: 90vh;


    #profile{

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 2fr 1fr;

        img{
            $size: 15rem;
            border-radius: 50%;
            width: $size;
            height: $size;

            place-self: center start;
            margin-top: 2rem;
            margin-bottom: 2rem;

            -webkit-box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.47);
            -moz-box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.47);
            box-shadow: 4px 4px 8px -3px rgba(0,0,0,0.47);
        }

        #text {
            place-self: center start;
            p {
                margin-bottom: 1rem;
            }
            p:last-child {
                margin-bottom: 0;
            }
        }

    }

    #contact {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 75%;

    }
    
    
    #morelinks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        width: 75%;

        margin-top: 2rem;
    }



}