@import 'colors';

// FONTS

// Signika (for bold condensed headers)
// Nunito for content
// East Sea Dokdo for title
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Signika:wght@300;500;700&display=swap');

// PLACEHOLDER FOR TITLES FONT
$titlesfont: 'Signika', sans-serif;

// MARGINS AND STUFF
$horizontal_padding_desktop: 15rem;
$vertical_padding_desktop: 5rem;

$horizontal_padding_desktop_small: 4rem;
$horizontal_padding_mobile: 1rem;

// BUTTON ANIMATIONS
$transitiondout: 1s;
$transitiondin: 0.15s;

* {
    margin: 0;
    padding: 0;
}


.button {

    $horizontal: 2rem;
    $vertical: 1.5rem;
    $gap: 1.5rem;

    font-family: $titlesfont;
    font-weight: 700;
    
    display: inline-block;
    color: black;

    border: 3px solid black;
    border-radius: 1rem;

    padding-top: $vertical;
    padding-bottom: $vertical;
    padding-left: $horizontal;
    padding-right: $horizontal;

    margin-right: $gap;
    margin-bottom: $gap;

    text-align: center;

    transition: background $transitiondout, color $transitiondout, border $transitiondout;

}

.button:hover {
    background: rgb(206, 89, 89);
    color: white;
    // border: white;

    transition: background $transitiondin, color $transitiondin, border $transitiondin, font-size $transitiondin;
}


body{

    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

    #darkmodetoggle {

        position: fixed;
        bottom: 4rem;
        right: 4rem;

        $size: 2rem;

        width: $size;
        height: $size;

    }

    #darkmodetoggle:hover {
        cursor: pointer;
    }

    h2{
        font-family: $titlesfont;
        color: $accent_color;
        font-size: 1.5rem;
        margin-top: 4rem;
        font-weight: 500;
    }

    h2:first-child {
        margin-top: 0;
    }

    // SUBTITLE
    .subtitle{
        font-size: 0.9rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.411);
    }





    #navheader{

        width: 100%;
        // background: rgb(15, 15, 15);
        color: rgba(0, 0, 0, 0.801);
        display: flex;
        flex-direction: row;
        align-items: center;
        
        @media screen and (max-width: 800px) {
            flex-direction: column;
            padding-left: $horizontal_padding_mobile !important;
            padding-right: $horizontal_padding_mobile !important;
        }

        box-sizing: border-box;
        padding-left: $horizontal_padding_desktop;
        padding-right: $horizontal_padding_desktop;

        @media screen and (max-width: 1500px) {
            padding-left: $horizontal_padding_desktop_small;
            padding-right: $horizontal_padding_desktop_small;
        }

        $vertical_padding_desktop: 2rem;
        padding-top: $vertical_padding_desktop;
        padding-bottom: $vertical_padding_desktop;

        border-bottom: 2px solid rgba(0, 0, 0, 0.158);

        #title{
            font-family: 'East Sea Dokdo', cursive;
            font-size: 4rem;

            a {
                color: rgba(0, 0, 0, 0.801);
            }
        }

        #menu{
            // margin-left: 4rem;
            // margin-left: auto;
            font-size: 1.1rem;

            @media screen and (max-width: 800px) {
                margin-top: 1rem;
                text-align: center;
            }

            a {
                font-family: $titlesfont;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.801);
                margin-left: 4rem;

                @media screen and (max-width: 1100px) {
                    margin-left: 2rem;
                }

                @media screen and (max-width: 800px) {
                    margin-left: 1rem;
                    margin-right: 1rem;
                    margin-bottom: 0.5rem;
                }

            }
        }


    }



    #content {

        margin-left: $horizontal_padding_desktop;
        margin-right: $horizontal_padding_desktop;
        margin-top: $vertical_padding_desktop;
        margin-bottom: $vertical_padding_desktop;
        min-height: 90vh;

        // border: 3px solid red;

        @media screen and (max-width: 1500px) {
            margin-left: $horizontal_padding_desktop_small;
            margin-right: $horizontal_padding_desktop_small;
        }

        @media screen and (max-width: 800px) {
            margin-left: $horizontal_padding_mobile !important;
            margin-right: $horizontal_padding_mobile !important;
        }


        #sidebar {
            h3 {
                a {
                    color: black;
                }
            }
        }

        #categorylist {
            ul {
                li{
                    a {
                        color: black;
                    }
                }
            }
        }


        #posts {
            .post{
                h1{
                    a{
                        color: black;
                    }
                }
            }
        }


        #topics {
            #topiclist{    
                li {
                    a {
                        color: black;
                    }
                }
            }    
        }

    }





    #footer{

        width: 100%;
        background: rgb(15, 15, 15);
        color: white;
        display: flex;
        flex-direction: column;
        // align-items: center;

        box-sizing: border-box;
        padding-left: $horizontal_padding_desktop;

        @media screen and (max-width: 1500px) {
            padding-left: $horizontal_padding_desktop_small;
            padding-right: $horizontal_padding_desktop_small;
        }

        @media screen and (max-width: 800px) {
            padding-left: $horizontal_padding_mobile;
            padding-right: $horizontal_padding_mobile;
        }

        $vertical_padding_desktop: 3rem;
        padding-top: $vertical_padding_desktop;
        padding-bottom: $vertical_padding_desktop;

        #title{
            font-family: 'East Sea Dokdo', cursive;
            font-size: 3.5rem;
        }

        #menu{
            font-size: 1rem;
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            a {
                font-family: $titlesfont;
                font-weight: 700;
                color: white;
                margin-top: 1rem;
            }
        }
    }
}

a {
    text-decoration: none;
    color: $accent_color;
    :visited{
        color: $accent_color;
    }
}