body.darkmode{


    .button {
        color: rgba(255, 255, 255, 0.9);
        border: 3px solid rgba(255, 255, 255, 0.9);
    }   
    
    background: rgb(20, 20, 20);
    color: rgb(240, 240, 240);

    #darkmodetoggle {
        color: white;

        @media screen and (max-width: 800px) {

            background: rgb(32, 32, 32);

        }

    }

    #navheader {

        color: rgba(255, 255, 255, 0.801);

        #title {
            a{
                color: rgba(255, 255, 255, 0.801);
            }
        }

        #menu {
            a {
                color: rgba(255, 255, 255, 0.801);
            }
        }
    }

    .subtitle{
        color: rgba(255, 255, 255, 0.411);
    }

    #content {

        #sidebar {
            h3 {
                a {
                    color: rgba(255, 255, 255, 0.9);
                }
            }
        }

        #categorylist {
            ul {
                li{
                    a {
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }


        .postcontent{
            .codeblock{
                border: 1px solid rgba(255, 255, 255, 0.171);
                color: rgba(215, 252, 255, 0.712);
            }
        }


        #posts {
            .post{
                h1{
                    a{
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
            }
        }


        #topics {
            #topiclist{    
                li {
                    a {
                        color: rgba(255, 255, 255, 0.9);
                    }
                }
            }    
        }
    }
    
}

