@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

// NICE
@font-face {
  font-family: 'Bilma';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/Bilma.ttf) format('truetype');
}

// NICE
@font-face {
  font-family: 'Maka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/static/fonts/Maka.otf) format('opentype');
}

