@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;1,700&display=swap');
@import 'fonts';
@import 'vars';

* {
  transition: 
      color 0.3s ease, 
      background 0.3s ease, 
      border 0.3s ease,
      outline 0.3s ease,
      transform 0.1s ease-out,
      box-shadow 0.1s ease, 
      -webkit-box-shadow 0.1s ease, 
      -moz-box-shadow 0.1s ease;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Crimson Text', serif;
  font-size: 1.3rem;

  margin-top: $top-margin;
  margin-bottom: $top-margin * 3;

  display: grid;
  grid-template-columns: 5fr 64vw 6fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas:
    'logo title .'
    'sections content tags'
    '. related .';

  background: white;

  // dark mode
  &.dark {
    background: rgb(25, 25, 25);
    color: whitesmoke;

    #site-title {
      color: whitesmoke;
    }

    #sections-list,
    #tags-list {
      li {
        a {
          color: rgba(255, 255, 255, 0.3);
          transition: color 0.2s;

          &:hover {
            color: $accent_color;
          }
        }
      }
    }

    #content {
      .details {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    #darkmodetoggle {
      color: white;

      @media screen and (max-width: 800px) {
        background: rgb(32, 32, 32);
      }
    }
  }
  // end dark mode

  #site-logo {
    height: 5rem;
    grid-area: logo;

    place-self: center end;

    margin-right: $grid-margin - 1rem;
  }

  #site-title {
    grid-area: title;

    font-family: 'Maka';
    font-weight: bold;
    font-size: 2.5rem;

    margin-left: $grid-margin;

    place-self: center start;
    color: rgb(13, 13, 13);
    text-decoration: none;
  }

  .side-list {
    list-style: none;
    margin-top: $top-margin - 0.35rem;

    @media screen and (max-width: 1560px) {
      // grid-column: 1/3 !important;
      // grid-row: 1/2 !important;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto !important;

      z-index: 3;

      box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);

      background: whitesmoke;
      border: 1px solid rgb(233, 233, 233);
      
      padding: 2rem;
      min-width: unset !important;
      width: 85vw;
      

      border-radius: 0.5rem;
      
    }

    li {
      margin-bottom: 1rem;

      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.3);
        transition: color 0.2s;

        &:hover {
          // color: rgba(0, 0, 0, 0.8);
          color: $accent_color_dark;
        }

        i {
          font-size: 0.8rem;
        }
      }
    }
  }

  #sections-list {
    grid-area: sections;
    place-self: start end;
    margin-right: $grid-margin;
    // width: 10vw;

    text-align: right;

    li {
      a {
        i {
          margin-left: 0.5rem;
        }
      }
    }
  }

  #content {
    grid-area: content;
    margin-left: $grid-margin;
    margin-top: $top-margin;

    // width: 100%;

    h1 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 4rem;
      margin-top: 1.5rem;
      // margin-bottom: 1.5rem;
    }

    .details {
      font-style: italic;
      color: rgba(0, 0, 0, 0.5);
      font-size: 1.2rem;
    }

    p {
      line-height: 1.8rem;
      font-size: 1.4rem;
    }
  }

  #tags-list {
    grid-area: tags;
    margin-left: $grid-margin - 2rem;
    // width: 15vw;
    // display: none;

    li {
      a {
        i {
          margin-right: 0.5rem;
        }
      }
    }
  }

  #darkmodetoggle {
    position: fixed;
    bottom: 4rem;
    right: 4rem;

    $size: 2rem;
    $smallsize: 1.5rem;

    width: $size;
    height: $size;

    @media screen and (max-width: 1500px) {
      bottom: 2rem;
      right: 2rem;
    }

    @media screen and (max-width: 800px) {
      bottom: 6rem;
      right: -12px;
      padding: 0.8rem;
      padding-right: 1.6rem;

      background: white;
      -webkit-box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.37);
      -moz-box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.37);
      box-shadow: -3px 0px 8px -1px rgba(0, 0, 0, 0.37);

      border-radius: 1rem;

      width: $smallsize;
      height: $smallsize;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
