@import 'vars';
@import 'notelistsection';

$desktop_max_width: 65%;
$content_padding_desktop: 2rem;
$content_padding_mobile: 1rem;
$content_border_radius: 0.5rem;

body {

  // &.dark {
  //   #content {
  //     // background: rgb(30, 30, 30);
  //     // box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  //     // -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  //     // -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);

  //     // border: 1px solid rgb(50, 50, 50);

  //     blockquote {
  //       background: rgb(43, 43, 43);
  //       color: rgba(255, 255, 255, 0.674);

  //       a {

  //         color: $accent_color;
  //         text-decoration: none;

  //         &:visited {
  //           color: $accent_color;  
  //         }
  //       }
  //     }

  //     p {

  //       code {
  //         background: rgba(255, 255, 255, 0.039);
  //       }

  //       .link-button {
  //         color: $accent_color;

  //         &:visited {
  //           color: $accent_color;
  //         }

  //         &:hover {
  //           background: $accent_color;
  //           color: white;
  //         }
  //       }
  //     }
  //   }
  // }

  #content {
    // background: white;

    // box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
    // -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
    // -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);

    // border: 1px solid rgb(233, 233, 233);
    // border: 1.8px solid rgb(58, 58, 58);

    // padding: $content_padding_desktop;
    // border-radius: $content_border_radius;
    display: flex;
    flex-direction: column;
    margin-top: 0.1rem;


    @media screen and (max-width: 980px) {
      max-width: 100%;
      box-sizing: border-box;
      padding-left: $content_padding_mobile;
      padding-right: $content_padding_mobile;
    }

    .header-image {
      max-width: calc(100%);
      max-height: 98vh;
      align-self: start;
      // margin-left: $content_padding_desktop;
      margin-right: $content_padding_desktop;
      margin-top: $content_padding_desktop;
      margin-bottom: $content_padding_desktop;
      // border-radius: $content_border_radius $content_border_radius 0 0;

      @media screen and (max-width: 980px) {
        max-width: calc(100% + $content_padding_mobile + $content_padding_mobile);
        margin-left: - $content_padding_mobile;
        margin-right: - $content_padding_mobile;
      }
    }

    h1 {
      @media screen and (max-width: 400px) {
        font-size: 3rem;
      }
    }

    h2 {
      margin-bottom: 0;
      margin-top: 3rem;
    }

    h6 {
      margin: 0;
    }

    blockquote {
      margin: 0;
      margin-top: 2rem;
      margin-bottom: 2rem;
      padding: 2rem;
      background: rgb(241, 241, 241);
      color: rgba(0, 0, 0, 0.674);

      max-width: calc($desktop_max_width - 4rem);

      p {
        max-width: unset;
      }

      a {

        color: $accent_color_dark;
        text-decoration: none;

        &:visited {
          color: $accent_color_dark;  
        }
      }

      @media screen and (max-width: 1200px) {
        max-width: unset;
      }
      
    }

    
    p {
      max-width: $desktop_max_width;
      line-height: 1.6rem;
      
      @media screen and (max-width: 1200px) {
        max-width: unset;
      }

      code {
        background: rgba(0, 0, 0, 0.053);
        padding: 0.3rem;
        box-sizing: border-box;
        border-radius: 0.3rem;
      }

      img {
        width: 100%;
      }
      
      .link-button {
        border: 1px solid $accent_color_dark;
        color: $accent_color_dark;
        text-decoration: none;
        padding: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        display: inline-block;
  
        &:visited {
          color: $accent_color_dark;
        }

        &:hover {
          background: $accent_color_dark;
          color: white;
        }
  
      }

    }

    ul {
      li {
        
        line-height: 1.8rem;

        a {

          font-family: "Lato", sans-serif;
          font-weight: 400;
          font-style: normal;
          // color: $accent_color_dark;
          text-decoration: none;

          &:visited {
            color: $accent_color_dark;  
          }

          &:hover {
            color: $accent_color;
          }

        }
      }
    }

  }

  #related {
    grid-area: related;
    // margin-left: $grid-margin;
    margin-top: 2rem;

    @media screen and (max-width: 980px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .section {
      margin-bottom: $top-margin * 2;

      h2 {
        font-family: "Calistoga", serif;
        color: $accent_color_dark;
        margin-bottom: 0rem;
        margin-top: 0;

        i {
          font-size: 1.2rem;
          margin-right: 0.8rem;
        }
      }

      ul {
        margin-top: 0.5rem;
      }
    }
  }
}
