@import 'vars';

body {
  &.dark {
    .note-list {
      .note {
        outline: 1px solid rgba(255, 255, 255, 0.148);
        background: rgb(30, 30, 30);
        box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);

        &:hover {
          outline: 1px solid rgba(255, 255, 255, 0.402);
          box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.8);
          -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.8);
          -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  .note-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;

    @media screen and (max-width: 830px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }


    
    .note {
      background: white;
      box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
      padding: 1rem;
      border-radius: 0.5rem;
      
      flex-basis: 32%;
      
      transition: 
          background 0.3s ease,
          outline 0.3s ease,
          transform 0.1s ease-out,
          box-shadow 0.1s ease, 
          -webkit-box-shadow 0.1s ease, 
          -moz-box-shadow 0.1s ease;

      @media screen and (max-width: 1300px) {
        flex-basis: 47%;
      }

      @media screen and (max-width: 830px) {
        flex-basis: unset;
    }

      

      color: currentColor;
      text-decoration: none;
      box-sizing: border-box;

      h3 {
        i {
          font-size: 0.7em;
          margin-left: 0.5rem;
        }
      }

      &:hover {
        transform: scale(1.02);
        box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
      }
    }

    .note.image-note {
      background-position: center !important;
      background-size: cover !important;
      color: white;

      &:hover {
        box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.6);
        -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.6);
      }
    }
  }
}
