@import 'vars';
@import 'notelistsection';

$desktop_max_width: 65%;

body {

  &.dark {
    #content {
      background: rgb(30, 30, 30);
      box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);

      border: 1px solid rgb(50, 50, 50);

      blockquote {
        background: rgb(43, 43, 43);
      }

      p {
        .link-button {
          color: $accent_color;

          &:visited {
            color: $accent_color;
          }
        }
      }
    }
  }

  #content {
    background: white;

    box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);

    border: 1px solid rgb(233, 233, 233);

    padding: 2rem;
    border-radius: 0.5rem;


    @media screen and (max-width: 980px) {
      // margin-left: 1rem;
      // margin-right: 1rem;
      max-width: 100%;
      box-sizing: border-box;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    h1 {
      @media screen and (max-width: 400px) {
        font-size: 3rem;
      }
    }

    blockquote {
      margin: 0;
      padding: 2rem;

      max-width: $desktop_max_width - 5%;

      @media screen and (max-width: 1200px) {
        max-width: unset;
      }
      
    }

    
    p {
      max-width: $desktop_max_width;
      
      @media screen and (max-width: 1200px) {
        max-width: unset;
      }
      
      .link-button {
        border: 1px solid $accent_color;
        color: $accent_color_dark;
        text-decoration: none;
        padding: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        display: inline-block;
  
        &:visited {
          color: $accent_color_dark;
        }
  
      }
    }

  }

  #related {
    grid-area: related;
    margin-left: $grid-margin;
    margin-top: $top-margin;

    @media screen and (max-width: 980px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .section {
      margin-bottom: $top-margin * 2;

      h2 {
        font-family: 'Ubuntu', sans-serif;
        i {
          font-size: 1.2rem;
          margin-right: 0.8rem;
        }
      }
    }
  }
}
