@import 'vars';
@import 'notelistsection';

$desktop_max_width: 65%;
$content_padding_desktop: 2rem;
$content_padding_mobile: 1rem;
$content_border_radius: 0.5rem;

body {

  &.dark {
    #content {
      background: rgb(30, 30, 30);
      box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);

      border: 1px solid rgb(50, 50, 50);

      blockquote {
        background: rgb(43, 43, 43);
        color: rgba(255, 255, 255, 0.674);
      }

      p {

        code {
          background: rgba(255, 255, 255, 0.039);
        }

        .link-button {
          color: $accent_color;

          &:visited {
            color: $accent_color;
          }
        }
      }
    }
  }

  #content {
    background: white;

    box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);

    border: 1px solid rgb(233, 233, 233);

    padding: $content_padding_desktop;
    border-radius: $content_border_radius;
    display: flex;
    flex-direction: column;


    @media screen and (max-width: 980px) {
      max-width: 100%;
      box-sizing: border-box;
      padding-left: $content_padding_mobile;
      padding-right: $content_padding_mobile;
    }

    .header-image {
      max-width: calc(100% + $content_padding_desktop + $content_padding_desktop);
      max-height: 98vh;
      align-self: center;
      margin-left: -$content_padding_desktop;
      margin-right: -$content_padding_desktop;
      margin-top: -$content_padding_desktop;
      border-radius: $content_border_radius $content_border_radius 0 0;

      @media screen and (max-width: 980px) {
        max-width: calc(100% + $content_padding_mobile + $content_padding_mobile + 0.2rem);
        margin-left: - $content_padding_mobile - 0.1rem;
        margin-right: - $content_padding_mobile - 0.1rem;
      }
    }

    h1 {
      @media screen and (max-width: 400px) {
        font-size: 3rem;
      }
    }

    h2 {
      margin-bottom: 0;
      margin-top: 3rem;
    }

    blockquote {
      margin: 0;
      padding: 2rem;
      background: rgb(241, 241, 241);
      color: rgba(0, 0, 0, 0.674);

      max-width: $desktop_max_width - 5%;

      @media screen and (max-width: 1200px) {
        max-width: unset;
      }
      
    }

    
    p {
      max-width: $desktop_max_width;
      
      @media screen and (max-width: 1200px) {
        max-width: unset;
      }

      code {
        background: rgba(0, 0, 0, 0.053);
        padding: 0.3rem;
        box-sizing: border-box;
        border-radius: 0.3rem;
      }

      img {
        width: 100%;
      }
      
      .link-button {
        border: 1px solid $accent_color;
        color: $accent_color_dark;
        text-decoration: none;
        padding: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        display: inline-block;
  
        &:visited {
          color: $accent_color_dark;
        }
  
      }
    }

  }

  #related {
    grid-area: related;
    margin-left: $grid-margin;
    margin-top: $top-margin;

    @media screen and (max-width: 980px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .section {
      margin-bottom: $top-margin * 2;

      h2 {
        font-family: 'Ubuntu', sans-serif;
        i {
          font-size: 1.2rem;
          margin-right: 0.8rem;
        }
      }
    }
  }
}
