@import 'base';


#content {

    padding-left: $horizontal_padding_desktop;
    padding-right: $horizontal_padding_desktop;
    padding-top: $vertical_padding_desktop;
    padding-bottom: $vertical_padding_desktop;

    #categorylist{
        ul {
            list-style: none;
            
            li {

                display: inline-block;
                font-family: $titlesfont;
                font-weight: bold;
                font-size: 2rem;

                a {
                    color: black;
                }

                a.current{
                    color: $accent_color;
                }
            }
        }
    }

    #photographs{

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;

        margin-top: 2rem;

        .column {
            padding-right: 0.5rem;
            img {
                width: 100%;
                // margin-bottom: 1rem;
            }
        }

    }

}