@import 'vars';

body {

  &.dark {
    #content {
      #photogrid {
        a {
          img {
            &:hover {
              outline: 3px solid rgb(239, 239, 239);
              transition: outline 0s;
            }
          }
        }
      }
    }  
  }

  #content {

    margin-left: 1rem;
    margin-right: 1rem;

    @media screen and (max-width: 980px){
      width: unset;
    }

    #photogrid {
      margin-top: 2rem;
      columns: 3;

      @media screen and (max-width: 1250px){
        columns: 2;
      }

      @media screen and (max-width: 500px){
        columns: 1;
      }

      a {
        display: inline-block;
        margin-bottom: 1rem;

        @media screen and (max-width: 500px){
            margin-left: -1rem;
            margin-right: -1rem;
            margin-bottom: -2rem;
          }

        img {

          // border: 1px solid rgba(255, 255, 255, 0.287);
          width: 100%;

          @media screen and (max-width: 500px){
            border-left: none;
            border-right: none;
            border-bottom: none;
            // margin-bottom: -0.5rem;

            &:hover {
              outline: none !important;
              transition: outline 0s;
            }
          }

          transition: 
            outline 0.3s ease,
            transform 0.1s ease-out,
            box-shadow 0.1s ease, 
            -webkit-box-shadow 0.1s ease, 
            -moz-box-shadow 0.1s ease;

          &:hover {
            outline: 3px solid rgb(42, 42, 42);
            transition: outline 0s;
            // transform: scale(1.02);
            //   box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
            //   -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
            //   -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
          }

        }
      }
    }
  }
}