@import 'base';


#content {

    padding-left: $horizontal_padding_desktop;
    padding-right: $horizontal_padding_desktop;
    padding-top: $vertical_padding_desktop;
    padding-bottom: $vertical_padding_desktop;

    #categorylist{

        margin-top: 2rem;

        ul {
            list-style: none;
            
            li {

                display: inline-block;
                font-family: $titlesfont;
                font-weight: bold;
                font-size: 2rem;

                margin-right: 1rem;

                a.current{
                    color: $accent_color;
                }
            }
        }
    }

    #photographs{

        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;

        margin-top: 1rem;

        .column {

            padding-right: 0.8rem;

            $shadowanimation: 0.15s;

            img {
                
                width: 100%;
                margin-bottom: 0.5rem;
                box-sizing: border-box;
                z-index: 1;

                transition: 
                    box-shadow $shadowanimation, 
                    -webkit-box-shadow $shadowanimation, 
                    -moz-box-shadow $shadowanimation,
                    border $shadowanimation/3;
            }

            img:hover{

                -webkit-box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.64);
                -moz-box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.64);
                box-shadow: 3px 3px 9px 3px rgba(0,0,0,0.64);
                z-index: 4;

                // border: 4px solid white;

                transition: 
                    box-shadow $shadowanimation, 
                    -webkit-box-shadow $shadowanimation, 
                    -moz-box-shadow $shadowanimation,
                    border $shadowanimation/3;
            }
        }

    }

}