@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

html {

    margin: 0;
    padding: 0;

    
    body {
        
        font-family: 'Titillium Web', sans-serif;
        margin: 0;
        padding: 0;
        // background: rgb(20, 20, 20);
        background: rgb(241, 241, 241);

        display: grid;

        // font-family: Arial, Helvetica, sans-serif;

        $sidebar-size: 18vw;
        $vertical-gap: 5vh;

        #sidebar {

            // color: whitesmoke;
            position: fixed;
            text-align: end;
            min-width: $sidebar-size;
            padding-top: $vertical-gap;
            padding-right: 2rem;
            background: rgb(250, 250, 250);

            // display: grid;
            height: 100vh;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;

            box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.1);
            -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.1);

            ul {

                list-style-type: none;
                padding-left: 0;
                // margin-top: -28px;

                li {

                    font-size: 1.5rem;
                    // font-weight: bold;
                    margin-bottom: -0.3rem;
                    
                    a {
                        color: rgba(0, 0, 0, 0.432);
                        text-decoration: none;

                        &:hover {
                            color: rgba(0, 0, 0, 0.829);
                        }
                    }

                    .current {
                        color: rgba(0, 0, 0, 0.829);
                        font-weight: bold;
                    }

                }

            }

            $title-color: rgba(212, 41, 41, 0.897);

            h1 {
                font-size: 0.8rem;
                font-weight: bold;
                color: $title-color;
                margin-top: auto;
                margin-bottom: -24px;
            }

            h2 {
                color: $title-color;
                // margin-top: -8px;
                font-size: 2rem;
            }


            @media screen and (max-width: 1390px) {

                height: 4rem;
                width: 100%;
                flex-direction: row;
                padding-top: 0;
                padding-right: 1rem;
                padding-left: 1rem;

                ul {
                    display: flex;
                    flex-direction: row;
                    margin-top: 0rem;
                    margin-bottom: 0rem;
                    overflow-x: auto;
                    overflow-y: hidden;
                    max-width: 75%;
                    align-self: center;

                    li {
                        margin-right: 8px;
                        align-self: center;
                        margin-bottom: 4px;
                    }
                }

                ul::-webkit-scrollbar {
                    display: none;
                }

                h1 {
                    // photography portfolio
                    margin-top: 0;
                    font-size: 0.5rem;
                    display: none;
                }

                h2 {
                    margin-top: 0;
                    font-size: 1rem;
                    margin-left: auto;
                    align-self: center;
                    margin-bottom: 0;
                    line-height: 1rem;
                    max-width: 5rem;
                }
            }

        }

        .photolist{

            $vertical-gap: 5vh;

            place-self: start center;
            margin-top: calc($vertical-gap/2);
            margin-bottom: calc($vertical-gap/2);
            margin-left: $sidebar-size;
            display: flex;
            flex-direction: column;
            align-items: center;

            .photograph{
                
                max-width: 95%;
                max-height: 95vh;
                // border: 2px solid ;
                margin-bottom: $vertical-gap;

                // border-radius: 4px;
                // -webkit-box-shadow: 0px 3px 39px 1px rgba(255, 255, 255, 0.5); 
                // box-shadow: 0px 3px 39px 1px rgba(255,255,255,0.5);

                box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
                -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);
                -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.4);

                // @media screen and (max-width: 1350px) {
                    
                // }
            }

            @media screen and (max-width: 1390px) {
                margin-top: 4rem;
                margin-left: 0rem;

            }
        }



    }

}