.categories {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    z-index: 1;

    .category-item {

        width: 20rem;
        height: 20rem;
        margin-right: 2rem;
        margin-bottom: 4rem;
        position: relative;
        cursor: pointer;
        z-index: 1;

        @media screen and (max-width: 600px) {
            width: 100%;
            height: 30rem;
            margin-right: 0;
        }

        .image-grid {

            display: flex;
            width: 100%;
            flex-wrap: wrap;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            
            img {
                width: 50%;
                height: 10rem;
                object-fit: cover;
                z-index: 1;

                @media screen and (max-width: 600px) {
                    height: 15rem;
                }
            }

        }

        .category-name-overlay {

            position: absolute;
            background: rgba(255, 255, 255, 0.801);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            z-index: 1;

            transition: background 0.2s;

            &:hover {
                background: rgba(255, 255, 255, 0.945);

                .category-name {
                    transform: scale(1.1);
                }
            }

            .category-name {
                place-self: center center;
                font-weight: bold;
                font-size: 1.2rem;

                transition: transform 0.2s;
                color: black;
            }
        }
    }
}