@import 'base';
@import 'postcontent';

#content {

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 1fr;

    @media screen and (max-width: 800px) {

        display: flex;
        flex-direction: column;

    }


    #post{

        margin-right: 3rem;

        @media screen and (max-width: 800px) {
            margin-right: initial;
        }

        #headerimage{
            width: 100%;
            margin-top: 2rem;
        }

        h1{
            font-weight: bold;
            font-family: $titlesfont;
            font-size: 3rem;
            margin-top: 2rem;

            @media screen and (max-width: 250px) {
                font-size: 1.5rem;
            }
        }

        .subtitle{
            margin-bottom: 2rem;
        }
        

    }


    #sidebar {

        h2 {
            margin-bottom: 1.5rem;
        }

        h2.extramargin{
            margin-bottom: 2rem;
        }

        h3 {

            font-weight: bold;
            font-size: 1.8rem;
            font-family: $titlesfont;

            margin-top: 1rem;

        }

    }


}