body.dark .note-list .note {
  border: 1px solid rgb(255, 255, 255);
}
body.dark .note-list .note:hover {
  border: 1px solid #ee6f74;
  outline: 1px solid #ee6f74;
  transition: outline 0s;
  color: #ee6f74;
}
body.dark .note-list .note.image-note:hover {
  border: 1px solid white;
  outline: 2px solid white;
  color: white;
  transition: outline 0s;
}
body .note-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3rem;
}
@media screen and (max-width: 830px) {
  body .note-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
body .note-list .note {
  padding: 1rem;
  border: 1px solid rgb(0, 0, 0);
  flex-basis: 32%;
  transition: background 0.3s ease, transform 0.1s ease-out, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease, -moz-box-shadow 0.1s ease;
  color: currentColor;
  text-decoration: none;
  box-sizing: border-box;
}
@media screen and (max-width: 1300px) {
  body .note-list .note {
    flex-basis: 47%;
  }
}
@media screen and (max-width: 830px) {
  body .note-list .note {
    flex-basis: unset;
  }
}
body .note-list .note h3 i {
  font-size: 0.7em;
  margin-left: 0.5rem;
}
body .note-list .note p {
  margin-bottom: 0.5rem;
}
body .note-list .note .taglist {
  font-size: 0.8rem;
  opacity: 0.3;
  font-style: italic;
}
body .note-list .note:hover {
  border: 1px solid #e04f4f;
  outline: 1px solid #e04f4f;
  color: #e04f4f;
  transition: outline 0s;
}
body .note-list .note.image-note {
  background-position: center !important;
  background-size: cover !important;
  color: white;
}
body .note-list .note.image-note:hover {
  border: 1px solid rgb(42, 42, 42);
  outline: 3px solid rgb(42, 42, 42);
  transition: outline 0s;
}

body.dark #content blockquote {
  background: rgb(43, 43, 43);
  color: rgba(255, 255, 255, 0.674);
}
body.dark #content blockquote a {
  color: #ee6f74;
  text-decoration: none;
}
body.dark #content blockquote a:visited {
  color: #ee6f74;
}
body.dark #content p code {
  background: rgba(255, 255, 255, 0.039);
}
body.dark #content p .link-button {
  color: #ee6f74;
}
body.dark #content p .link-button:visited {
  color: #ee6f74;
}
body.dark #content p .link-button:hover {
  background: #ee6f74;
  color: white;
}
body #content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 980px) {
  body #content {
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
body #content .header-image {
  max-width: 100%;
  max-height: 98vh;
  align-self: start;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 980px) {
  body #content .header-image {
    max-width: calc(100% + 1rem + 1rem);
    margin-left: -1rem;
    margin-right: -1rem;
  }
}
@media screen and (max-width: 400px) {
  body #content h1 {
    font-size: 3rem;
  }
}
body #content h2 {
  margin-bottom: 0;
  margin-top: 3rem;
}
body #content h6 {
  margin: 0;
}
body #content blockquote {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  background: rgb(241, 241, 241);
  color: rgba(0, 0, 0, 0.674);
  max-width: calc(65% - 4rem);
}
body #content blockquote p {
  max-width: unset;
}
body #content blockquote a {
  color: #e04f4f;
  text-decoration: none;
}
body #content blockquote a:visited {
  color: #e04f4f;
}
@media screen and (max-width: 1200px) {
  body #content blockquote {
    max-width: unset;
  }
}
body #content p {
  max-width: 65%;
  line-height: 1.7rem;
}
@media screen and (max-width: 1200px) {
  body #content p {
    max-width: unset;
  }
}
body #content p code {
  background: rgba(0, 0, 0, 0.053);
  padding: 0.3rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
body #content p img {
  width: 100%;
}
body #content p .link-button {
  border: 1px solid #ee6f74;
  color: #e04f4f;
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
body #content p .link-button:visited {
  color: #e04f4f;
}
body #content p .link-button:hover {
  background: #e04f4f;
  color: white;
}
body #content ul li {
  line-height: 1.8rem;
}
body #content ul li a {
  color: #ee6f74;
  text-decoration: none;
}
body #content ul li a:visited {
  color: #ee6f74;
}
body #related {
  grid-area: related;
  margin-left: 2rem;
  margin-top: 2.5rem;
}
@media screen and (max-width: 980px) {
  body #related {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
body #related .section {
  margin-bottom: 5rem;
}
body #related .section h2 {
  font-family: "Ubuntu", sans-serif;
}
body #related .section h2 i {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

/*# sourceMappingURL=note.css.map */
