body.dark .note-list .note {
  outline: 1px solid rgba(255, 255, 255, 0.148);
  background: rgb(30, 30, 30);
  box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
}
body.dark .note-list .note:hover {
  outline: 1px solid rgba(255, 255, 255, 0.402);
  box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.8);
}
body .note-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (max-width: 830px) {
  body .note-list {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
body .note-list .note {
  background: white;
  box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  border-radius: 0.5rem;
  flex-basis: 32%;
  transition: outline 0.3s ease, transform 0.1s ease-out, box-shadow 0.1s ease, -webkit-box-shadow 0.1s ease, -moz-box-shadow 0.1s ease;
  color: currentColor;
  text-decoration: none;
  box-sizing: border-box;
}
@media screen and (max-width: 1300px) {
  body .note-list .note {
    flex-basis: 47%;
  }
}
@media screen and (max-width: 830px) {
  body .note-list .note {
    flex-basis: unset;
  }
}
body .note-list .note h3 i {
  font-size: 0.7em;
  margin-left: 0.5rem;
}
body .note-list .note:hover {
  transform: scale(1.02);
  box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
}
body .note-list .note.image-note {
  background-position: center !important;
  background-size: cover !important;
  color: white;
}
body .note-list .note.image-note:hover {
  box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.6);
}

body.dark #content {
  background: rgb(30, 30, 30);
  box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.4);
  border: 1px solid rgb(50, 50, 50);
}
body.dark #content blockquote {
  background: rgb(43, 43, 43);
}
body.dark #content p .link-button {
  color: #ee6f74;
}
body.dark #content p .link-button:visited {
  color: #ee6f74;
}
body #content {
  background: white;
  box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 0px 22px -2px rgba(0, 0, 0, 0.15);
  border: 1px solid rgb(233, 233, 233);
  padding: 2rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 980px) {
  body #content {
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 400px) {
  body #content h1 {
    font-size: 3rem;
  }
}
body #content blockquote {
  margin: 0;
  padding: 2rem;
  max-width: 60%;
}
@media screen and (max-width: 1200px) {
  body #content blockquote {
    max-width: unset;
  }
}
body #content p {
  max-width: 65%;
}
@media screen and (max-width: 1200px) {
  body #content p {
    max-width: unset;
  }
}
body #content p .link-button {
  border: 1px solid #ee6f74;
  color: #e04f4f;
  text-decoration: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
body #content p .link-button:visited {
  color: #e04f4f;
}
body #related {
  grid-area: related;
  margin-left: 2rem;
  margin-top: 2.5rem;
}
@media screen and (max-width: 980px) {
  body #related {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
body #related .section {
  margin-bottom: 5rem;
}
body #related .section h2 {
  font-family: "Ubuntu", sans-serif;
}
body #related .section h2 i {
  font-size: 1.2rem;
  margin-right: 0.8rem;
}

/*# sourceMappingURL=note.css.map */
