{% extends 'skeleton.html' %}
{% load static %}

{% block title %}About Abdullah{% endblock %}
{% block ogtitle %}About Abdullah{% endblock %}
{% block tctitle %}About Abdullah{% endblock %}

{% block metadescription %}About Abdullah{% endblock %}
{% block ogdescription %}About Abdullah{% endblock %}
{% block tcdescription %}About Abdullah{% endblock %}

{% block ogimage %}About Abdullah{% endblock %}
{% block tcimage %}About Abdullah{% endblock %}

{% block ogurl %}About Abdullah{% endblock %}
{% block ogtype %}About Abdullah{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body %}

<h2>ABOUT</h2>
<div id="profile">
    <img src="{% static 'img/dp.jpg' %}" alt="Abdullah Alam">
    <div id="text">
        <p>
            Hi, I’m Abdullah. I like to make stuff.
        </p>
        <p>
            Not enough of a bio? Here’s the long, formal version. <b>Abdullah is a software developer, photographer and writer. He loves to travel, and writes blogs about trekking and hiking and photography.</b>
        </p>
        <p>
            Find me on:
        </p>
    </div>
</div>

<!-- <div id="contactpadding"> -->
    <div id="contact">
        <a class="button" href="https://instagram.com/theabdullahalam" target="_blank">INSTAGRAM</a>
        <a class="button" href="mailto:abdullahalam598@gmail.com" target="_blank">EMAIL</a>
        <a class="button" href="https://twitter.com/theabdullahalam" target="_blank">TWITTER</a>
        <a class="button" href="https://github.com/theabdullahalam" target="_blank">GITHUB</a>
    </div>
<!-- </div> -->


<h2>MORE LINKS</h2>
<div id="morelinks">
    <a class="button" href="">PERSONAL BLOG</a>
    <a class="button" href="https://sentient-pixels.com/" target="_blank">TRAVEL & PHOTOGRAPHY</a>
    <a class="button" href="">PHOTOGRAPHY PORTFOLIO</a>
    <a class="button" href="https://unsplash.com/theabdullahalam" target="_blank">UNSPLASH</a>
</div>



{% endblock %}