{% extends 'skeleton.html' %}
{% load static %}

{% block title %}About Abdullah{% endblock %}
{% block ogtitle %}About Abdullah{% endblock %}
{% block tctitle %}About Abdullah{% endblock %}

{% block metadescription %}{{ description | safe }}{% endblock %}
{% block ogdescription %}{{ description | safe }}{% endblock %}
{% block tcdescription %}{{ description | safe }}{% endblock %}

{% block ogimage %}{{ fullimage }}{% endblock %}
{% block tcimage %}{{ fullimage }}{% endblock %}

{% block ogurl %}{{ fullurl }}{% endblock %}
{% block ogtype %}profile{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block body %}

<h2>ABOUT</h2>
<div id="profile">
    <img src="{{dp.image.url}}" alt="Abdullah Alam">
    <div id="text">
        {{ bio.value | safe }}
    </div>
</div>

<!-- <div id="contactpadding"> -->
    <div id="contact">
        <a class="button" href="https://instagram.com/theabdullahalam" target="_blank">INSTAGRAM</a>
        <a class="button" href="mailto:abdullahalam598@gmail.com" target="_blank">EMAIL</a>
        <a class="button" href="https://twitter.com/theabdullahalam" target="_blank">TWITTER</a>
        <a class="button" href="https://github.com/theabdullahalam" target="_blank">GITHUB</a>
    </div>
<!-- </div> -->


<h2>MORE LINKS</h2>
<div id="morelinks">
    <a class="button" href="">PERSONAL BLOG</a>
    <a class="button" href="https://sentient-pixels.com/" target="_blank">TRAVEL & PHOTOGRAPHY</a>
    <a class="button" href="">PHOTOGRAPHY PORTFOLIO</a>
    <a class="button" href="https://unsplash.com/theabdullahalam" target="_blank">UNSPLASH</a>
</div>



{% endblock %}