{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/d8749e6d0b.js" crossorigin="anonymous"></script>

    <meta name="description" content="{% block metadescription %}{% endblock %}" />

    {% comment %} OPENGRAPH META TAGS {% endcomment %}
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
    <meta property="og:description" content="{% block ogdescription %}{% endblock %}" />
    <meta property="og:url" content="{% block ogurl %}{% endblock %}" />
    <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
    <meta property="og:type" content="{% block ogtype %}{% endblock %}" />

    <!-- TWITTER CARD META TAGS -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@theabdullahalam" />
    <meta name="twitter:title" content="{% block tctitle %}{% endblock %}" />
    <meta name="twitter:description" content="{% block tcdescription %}{% endblock %}" />
    <meta name="twitter:image" content="{% block tcimage %}{% endblock %}" />

    <!-- BASIC FAVICON -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

    <!-- PRISM SYNTAX HIGHLIGHTING -->
    <link rel="stylesheet" href="{% static 'css/prism.css' %}" />

    <!-- NOTE SCSS -->
    <link rel="stylesheet" href="{% static 'css/gardenbase.css' %}" />

    {% block head %}{% endblock %}

  </head>

  <body id="body" class="">
    <!-- logo -->
    <img src="{% static 'img/favicon.png' %}" alt="Website Logo" id="site-logo" />

    <!-- title -->
    <a href="{% url 'index' %}" id="site-title">ABDULLAH ALAM</a>

    <!-- section list -->
    <ul id="sections-list" class="side-list">
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">photography <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">poetry <i class="fas fa-layer-group"></i></a>
      </li>
      <li>
        <a href="#">prose <i class="fas fa-layer-group"></i></a>
      </li>
      
    </ul>

    <!-- content -->
    <div id="content">
      {% block body %}{% endblock %}
    </div>
    

    <!-- tags list -->
    <ul id="tags-list" class="side-list">
      <li>
        <a href="#"><i class="fas fa-tag"></i> photography</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-tag"></i> poetry</a>
      </li>
      <li>
        <a href="#"><i class="fas fa-tag"></i> prose</a>
      </li>
    </ul>

    <!-- DARK MODE BUTTON -->
    <a id="darkmodetoggle" onclick="toggleDarkMode()">
      <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="moon" class="svg-inline--fa fa-moon fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M279.135 512c78.756 0 150.982-35.804 198.844-94.775 28.27-34.831-2.558-85.722-46.249-77.401-82.348 15.683-158.272-47.268-158.272-130.792 0-48.424 26.06-92.292 67.434-115.836 38.745-22.05 28.999-80.788-15.022-88.919A257.936 257.936 0 0 0 279.135 0c-141.36 0-256 114.575-256 256 0 141.36 114.576 256 256 256zm0-464c12.985 0 25.689 1.201 38.016 3.478-54.76 31.163-91.693 90.042-91.693 157.554 0 113.848 103.641 199.2 215.252 177.944C402.574 433.964 344.366 464 279.135 464c-114.875 0-208-93.125-208-208s93.125-208 208-208z"></path></svg>
    </a>

    <!-- SYNTAX HIGHLIGHTING -->
    <script src="{% static 'js/prism.js' %}"></script>

    <script>
      function toggleDarkMode(){
        document.body.classList.toggle("dark");
      }
    </script>

  </body>
</html>
