{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Page Title{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body %}
<div id="content">
    <h1>Hola</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, vel necessitatibus. Fuga, autem molestiae nostrum fugiat vel repellat minima. Debitis?
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum cupiditate consequuntur possimus obcaecati laborum aut natus fuga aspernatur asperiores ab eligendi amet, architecto harum numquam delectus dolores dicta iusto beatae esse iure commodi sed ipsum! Officia eum libero nulla eaque illo magni perspiciatis dolorem obcaecati ipsam sapiente corrupti, impedit at, alias non suscipit necessitatibus repellat distinctio optio dolor dolorum exercitationem minus? Voluptas saepe voluptates, labore voluptatum sapiente similique accusamus repellat deserunt, officia cupiditate reiciendis laborum nam molestias libero neque tempora, placeat ipsam ullam assumenda veniam. Fugit molestias obcaecati dicta at, quis illum soluta, nulla nemo rerum temporibus blanditiis, aut natus.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut ipsam praesentium ratione dolore dolores sint fugiat, maiores quod enim fuga similique temporibus esse quam et rem sed incidunt atque eligendi iusto? Consequuntur repellat labore excepturi.
    </p>
    <p>
        <a href="{% url 'posts' %}">Posts</a>
    </p>
</div>
{% endblock %}