{% extends 'gardenbase.html' %}
{% load static %}

{% block title %}{{ index.name }} - Abdullah Alam{% endblock %}
{% block ogtitle %}{{ index.name }} - Abdullah Alam{% endblock %}
{% block tctitle %}{{ index.name }} - Abdullah Alam{% endblock %}

{% block metadescription %}{{ description | safe }}{% endblock %}
{% block ogdescription %}{{ description | safe }}{% endblock %}
{% block tcdescription %}{{ description | safe }}{% endblock %}

{% block ogimage %}{{ fullimage }}{% endblock %}
{% block tcimage %}{{ fullimage }}{% endblock %}

{% block ogurl %}{{ fullurl }}{% endblock %}
{% block ogtype %}blog{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/notelist.css' %}">
{% endblock %}

{% block body %}

    <h1><i class="fas fa-layer-group"></i> notes in '{{ index.name }}'</h2>
    <div class="note-list">

      {% for note in notes %}
        <a 
          class="note {% if note.image %} image-note {% endif %}" 
          href="{% url 'note' note.slug %}"
          {% if note.image %}
            style="background: linear-gradient(0deg, rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url({{ note.image.url }})"
          {% endif %}
        >
          <h3>{{ note.title }}</h3>
          <p>
            {{ note.description }}
          </p>
        </a>
      {% endfor %}
    </div>    

{% endblock %}