{% extends 'skeleton.html' %}
{% load static %}
{% block title %}Page Title{% endblock %}
 
{% block head %}
<link rel="stylesheet" href="{% static 'css/photo.css' %}">
{% endblock %}
 
{% block body %}

<h2>PHOTOGRAPHY</h2>

<div id="photo">
    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
    <h1>{{ photo.title }}</h1>
    <p class="subtitle">{{ photo.hfr_date }}</p>
    {{ photo.content | safe }}
</div>

{% if showrelated %}
<h2><a href="{% url 'photography' category.slug %}">{{ category.categoryname.upper }}</a></h2>
<div id="photographs">
    {% for col in columns %}
        <div class="column">
            {% for pic in col %}
                <a href="{% url 'photo' pic.slug %}">
                    <img src="{{ pic.image.url }}" alt="{{ pic.title }}">
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endif %}
 
{% endblock %}