{% extends 'gardenbase.html' %}
{% load static %}

{% block title %}{{ index.name }} - Abdullah Alam{% endblock %}
{% block ogtitle %}{{ index.name }} - Abdullah Alam{% endblock %}
{% block tctitle %}{{ index.name }} - Abdullah Alam{% endblock %}

{% block metadescription %}{{ description | safe }}{% endblock %}
{% block ogdescription %}{{ description | safe }}{% endblock %}
{% block tcdescription %}{{ description | safe }}{% endblock %}

{% block ogimage %}{{ fullimage }}{% endblock %}
{% block tcimage %}{{ fullimage }}{% endblock %}

{% block ogurl %}{{ fullurl }}{% endblock %}
{% block ogtype %}blog{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/photogrid.css' %}">
{% endblock %}

{% block body %}

  <h1>Photography</h1> 
  <div id="photogrid">
      {% for note in notes %}
        <a href="{% url 'note' note.slug %}">
          <img src="{{ note.image.url }}" alt="" />
        </a>
      {% endfor %}
  </div>

{% endblock %}