{% extends 'portfolio_base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/portfolio_contact.css' %}">
{% endblock %}

{% block body %}

    <div class="contact">
        
        <img src="https://i.imgur.com/Ox2MwzF.jpg" />
        <div class="text-content">
            <h1>Hi there!</h1>
            <p>
                My name is Abdullah and I am a freelance photographer. <b>Welcome to <a href="{% url 'photofolio' %}">my portfolio.</a></b><br />
                I also like to <a href="{% url 'gardenhome' %}">blog and write</a> about random things, and <a href="https://sentient-pixels.com/">travel</a> every once in a while.
            </p>
            <h2>
                Need a photographer? <br />
                <a href="mailto:abdullahalam+photography@pm.me">Get in touch!</a>
            </h2>
        </div>

    </div>

{% endblock %}