{% extends 'skeleton.html' %}
{% load static %}

{% block title %}Blog - Abdullah Alam{% endblock %}
{% block ogtitle %}Blog - Abdullah Alam{% endblock %}
{% block tctitle %}Blog - Abdullah Alam{% endblock %}
 
{% block head %}
<link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}
 
{% block body %}
 
<div id="posts">

    <h2>BLOG • {{ topic.type_name.upper }}</h2>

    <!-- THE CONTENT -->
    {% if posts %}
        {% for post in posts %}
            <div class="post">
                <h1><a href="{% url 'post' post.slug %}">{{ post.title }}</a></h1>
                <p class="subtitle">
                    {{ post.hfr_date }} • {{ post.p_type.type_name }}
                </p>
            </div>            
        {% endfor %}
    {% endif %}

    <!-- PAGINATION -->
    <div id="pagination">
        {% if page_obj.has_previous %}
            <div id="newer">
                {% if topic.type_name == 'all' %}
                <a href="{% url 'blog' page_obj.previous_page_number %}"><i class="fas fa-arrow-left"></i> newer</a>
                {% else %}
                <a href="{% url 'blog' topic.slug page_obj.previous_page_number %}"><i class="fas fa-arrow-left"></i> newer</a>
                {% endif %}
            </div>
        {% endif %}
        {% if page_obj.has_next %}
            <div id="older">
                {% if topic.type_name == 'all' %}
                <a href="{% url 'blog' page_obj.next_page_number %}">older <i class="fas fa-arrow-right"></i></a>
                {% else %}
                <a href="{% url 'blog' topic.slug page_obj.next_page_number %}">older <i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>    


<div id="topics">
    <h2>TOPICS</h2>
    <ul id="topiclist">
        <li><a href="{% url 'blog' %}">ALL</a></li>
        {% for topic in topics %}
        <li><a href="{% url 'blog' topic.slug %}">{{ topic.type_name.upper }}</a></li>
        {% endfor %}
    </ul>
</div>
 
{% endblock %}