{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <script src="https://kit.fontawesome.com/d8749e6d0b.js" crossorigin="anonymous"></script>

        <meta name="description" content="{% block metadescription %}{% endblock %}"/>

        {% comment %} OPENGRAPH META TAGS {% endcomment %}
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta property="og:description" content="{% block ogdescription %}{% endblock %}"/>
        <meta property="og:url" content="{% block ogurl %}{% endblock %}" />
        <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
        <meta property="og:type" content="{% block ogtype %}{% endblock %}" />

        <!-- TWITTER CARD META TAGS -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@theabdullahalam" />
        <meta name="twitter:title" content="{% block tctitle %}{% endblock %}"/>
        <meta name="twitter:description" content="{% block tcdescription %}{% endblock %}"/>
        <meta name="twitter:image" content="{% block tcimage %}{% endblock %}"/>

        <!-- BASIC FAVICON -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />

        
        <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
        <script>
            (function(f, a, t, h, o, m){
                a[h]=a[h]||function(){
                    (a[h].q=a[h].q||[]).push(arguments)
                };
                o=f.createElement('script'),
                m=f.getElementsByTagName('script')[0];
                o.async=1; o.src=t; o.id='fathom-script';
                m.parentNode.insertBefore(o,m)
            })(document, window, '//fathom.sentient-pixels.com/tracker.js', 'fathom');
            fathom('set', 'siteId', 'STOFD');
            fathom('trackPageview');
        </script>
        <!-- / Fathom -->

        {% block head %}{% endblock %}

        <!-- DARK MODE -->
        <link disabled="" id="darkanimation" rel="stylesheet" href="{% static 'css/animatedark.css' %}">
        <link disabled="" id="darkmodesheet" rel="stylesheet" href="{% static 'css/darkbase.css' %}">
    </head>
    <body>
        <!-- NAV HEADER -->
        <header id="navheader">
            <div id="title">
                <a href="{% url 'index' %}">
                ABDULLAH ALAM
                </a>
            </div>
            <div id="menu">
                <a href="{% url 'blog' %}">BLOG</a>
                <a href="{% url 'photography' %}">PHOTOGRAPHY</a>
                <a href="{% url 'about' %}">ABOUT</a>
                <br />
                <br />
                <a href="https://instagram.com/theabdullahalam" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/theabdullahalam" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </header>


        <!-- THE MAIN CONTENT -->
        <div id="content">
            {% block body %}{% endblock %}
        </div>

        <!-- FOOTER -->
        <footer id="footer">
            <div id="title">
                ABDULLAH ALAM
            </div>
            <div id="menu">
                <a href="{% url 'blog' %}">BLOG</a>
                <a href="{% url 'photography' %}">PHOTOGRAPHY</a>
                <a href="{% url 'about' %}">ABOUT</a>
            </div>
        </footer>

        <!-- DARK MODE BUTTON -->
        <a id="darkmodetoggle" onclick="toggleDarkMode()">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="moon" class="svg-inline--fa fa-moon fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M279.135 512c78.756 0 150.982-35.804 198.844-94.775 28.27-34.831-2.558-85.722-46.249-77.401-82.348 15.683-158.272-47.268-158.272-130.792 0-48.424 26.06-92.292 67.434-115.836 38.745-22.05 28.999-80.788-15.022-88.919A257.936 257.936 0 0 0 279.135 0c-141.36 0-256 114.575-256 256 0 141.36 114.576 256 256 256zm0-464c12.985 0 25.689 1.201 38.016 3.478-54.76 31.163-91.693 90.042-91.693 157.554 0 113.848 103.641 199.2 215.252 177.944C402.574 433.964 344.366 464 279.135 464c-114.875 0-208-93.125-208-208s93.125-208 208-208z"></path></svg>
        </a>

        <!-- DARK MODE TOGGLING SCRIPT -->
        <script src="{% static 'js/toggledarkmode.js' %}"></script>

    </body>
</html>
